PORT = PORTNUMBER
TFASecret = SpeakEasy 2FA Secret
SERVICE_ACCOUNT = FIREBASE SERVICE_ACCOUNT
CLERK_SECRET_KEY = CLERK Secret Key
MONGO_COLLECTION = Name of the Mongo Collection
MONGO_USERNAME = Mongo Username
MONGO_PASSWORD = Mongo Passwor
# Debugging
LOGGER_ENABLED= If debug logging is enabled
# Supabase env vars
SUPABASE_URL = Supabase connection url
SUPABASE_SERVICE_ROLE_KEY = Supabase Role Key
# For the token generator
email = Firebase token generator email
password = Firebase token generator empasswordail
FIREBASE_API_KEY = Firebase Api Key